<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro empire of books</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Cadastro de Livro</h1>

<form method="post" action="/livro">

        <label>Nome: </label>
        <input type="text" name="nome" id="nome">
        <br><br>
        <label>Autor: </label>
        <input type="text" name="autor" >

        <br><br>

    <input type="submit" value="Cadastrar">






<!--    <input type="text" name="nome" id="nome">-->


</form>

</body>
</html>
